<%- include ('./partials/header.ejs') %>

<!-- newForm -->

<div class="container">
    <form method="POST" action="/todos">
         <label for="name" class="form-label"></label>
         <input
            type="text"
            class="form-control"
            id="name"
            name="name"
            value="<%= todo.name %>"
        />
        
    <div class="mb-3">
    <label for="description" class="form-label"></label>
    <input
      type="text"
      class="form-control"
      id="description"
      name="description"
      value="<%= todo.description %>"
    ></input>
    </div>


<!-- Duration form selector deprecated-->

    <div class="mb-3">
        <label for="duration" class="form-label">Edit the duration of task (in minutes)</label>
        <select name="duration" id="duration" class="form-select">
            <option value="" selected>Choose the duration to be assigned to your task</option>
            <option value="15">15</option>
            <option value="30">30</option>
            <option value="45">45</option>
            <option value="60">60</option>                
            <option value="90">90</option>
         </select>
     </div>
     <button type="submit" class="btn btn-primary">Add task</button>
    </form>
</div>

<%- include ('./partials/footer.ejs') %>
