.header,
#index-intro {
  text-align: center;
  margin: 25px;
}

.todos {
  list-style: none;
}

#showTaskName,
#showTaskDescription {
  text-align: center;
  padding: 35px;
}

.btn-toolbar {
  text-align: center;
}

#start-btn,
#edit-btn,
#delete-btn {
  margin: 10px;
}

#timer-display {
  text-align: center;
  margin: 25px;
}

.hidden {
  visibility: hidden;
  max-height: 0;
}

.container {
  background-color: white;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.body {
  background-image: url(clouds.png);
  background-size: cover;
}

.navbar {
  background: none;
}

body {
  font-family: "Indie Flower";
  font-size: x-large;
}
