.header,
#index-intro {
  text-align: center;
  margin: 25px;
}

.todos {
  list-style: none;
}

#showTaskName,
#showTaskDescription {
  text-align: center;
  padding: 35px;
}

.btn-toolbar {
  text-align: center;
}

#start-btn,
#edit-btn,
#delete-btn,
#show-resume-btn,
#add-task-btn {
  margin: 10px;
}

#pomodoro {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#timer-display {
  text-align: center;
  margin: 25px;
  font-size: 64px;
}

.hidden {
  visibility: hidden;
  max-height: 0;
}

.container {
  background-color: white;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  border-radius: 15px;
  padding: 50px 30px;
}

.body {
  background-image: url(clouds.png);
  background-size: cover;
}

.navbar {
  background: none;
}

body {
  font-family: "Sue Ellen Francisco";
  font-size: xx-large;
}

.form-header {
  font-size: 48px;
  margin-bottom: 36px;
}

.form {
  border-style: solid;
  border-color: rgb(177, 210, 239);
  min-width: 400px;
  padding: 15px;
  min-height: 33vh;
  font-size: 36px;
}

.navbar-brand,
.btn {
  font-size: 30px;
}

.err-msg {
  padding: 10px, 15px;
}

h1 {
  font-size: 72px;
}

.add-task-msg,
.todo-list {
  font-size: 36px;
  margin: 45px;
}

#register-link {
  color: skyblue;
}

#login-btn {
  margin-bottom: 25px;
}

.form-control,
.form-select {
  font-size: 24px;
}

#todo-name {
  font-size: 64px;
  margin: 15px;
}

#todo-description {
  font-size: 48px;
  margin: 15px;
}
